.classTodo{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
    border-radius: 10px;
    max-width: 90%;
}

input{
    border-radius: 30px;
}

